<!--   <section id="traking">
    <i class="fas fa-map-marker-alt"></i>
    <i class="fas fa-truck"></i>
    <i class="fas fa-home"></i>
  </section> -->
  <section id="traking">   
   <div class="izq">
     <h1>Seguimiento</h1>
     <div class="myProduct">
       <div class="izq">
         <img src="https://mobiprix.com/2555-large_default/oferta-mueble-comedor-girona.jpg" alt="">
       </div>
       <div class="der">
         <h2>Mueble modular 3mts</h2>
       </div>
     </div>
   </div>
   <div class="der">
     sdf
   </div>
  </section>