<div class="hamburger">
  <div>
    <div class="_layer -top"></div>
    <div class="_layer -mid"></div>
    <div class="_layer -bottom"></div>
  </div>
</div>
<nav class="menuppal">
  <ul>
    <li>
      <div class="muebles">Hogar y Muebles</div>
    </li>
    <li>
      <div class="accesorios">Accesorios para Vehículos</div>
    </li>
    <li>
      <div class="electrodomesticos">Electrodomésticos</div>
    </li>
    <li>
      <div class="herramientas">Herramientas y Construcción</div>
    </li>
    <li>
      <div class="industrias">Industrias y Oficinas</div>
    </li>
    <li>
      <div class="computacion">Computación</div>
    </li>

  </ul>
</nav>

<section class="menuProducts">


  <div class="muebles">Hogar y Muebles</div>
  <div class="accesorios">Accesorios para Vehículos</div>
  <div class="electrodomesticos">Electrodomésticos</div>
  <div class="herramientas">Herramientas y Construcción</div>
  <div class="industrias">Industrias y Oficinas</div>
  <div class="computacion">Computación</div>
</section>

<section class="container">

</section>
<div class="cont">
  <div class="boxx">

  </div>

</div>
