/* ESTILO DE MENÚ DE PRODUCTOS */
.menuProducts{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 2px gray solid;
  border-bottom: 3px black solid;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.container{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2em;
}






