<section class="detailContainer">
  <div class="productBox">
    <div class="imageBox"><!-- imagen --></div>
    <div class="dataProduct">
      <h3 class="titleProduct">Producto detalle</h3>
      <div class="descriptionProduct"><p>Detalle del producto</p></div>
      <div class="priceProduct">
        <p>Precio</p>
        <hr>
      </div>
    <div>
        <h6 class="suggestion">Sugerencia de maestros</h6> 
      <ul class="listSuggestion">
        <li>Maestro 1</li>
        <li>Maestro 2</li>
        <li>Maestro 3</li>
      </ul>
    </div>
    <div><button class="addButton">Añadir</button></div>
    </div>   
  </div>
</section>