@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

.detailContainer{
display:flex;
justify-content: center;
}

.productBox{
  display:flex;
  justify-content: center;
  width: 43em;
  height: 27em;
  -webkit-box-shadow: 10px 10px 20px -4px rgba(138,134,138,1);
-moz-box-shadow: 10px 10px 20px -4px rgba(138,134,138,1);
box-shadow: 10px 10px 20px -4px rgba(138,134,138,1);
}

.dataProduct{
  margin: 1em 1.5em 1em 1em;
}

.imageBox{
  border:0.1em solid grey;
  width: 20em;
  height: 20em;
  margin:2em;
}

.titleProduct{
  font-size: 1.4em;
  font-family: 'Roboto', sans-serif;
}

.descriptionProduct{
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; 
}

.priceProduct{
  font-size: 1.3em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;  
}

.suggestion{
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0.7em 0;
}

.listSuggestion{
  list-style: none;
  text-align: left;
  padding-left: 0;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.addButton{
  background-color: #23527c;
  border: 0.2em solid #23527c;
  border-radius: 10px;
  padding: 0.8em 0.5em;
  color:#fff;
  width: 100%;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.addButton:hover{
  background-color: #fff;
  border: 0.1em solid #23527c;
  border-radius: 10px;
  padding: 0.8em 0.5em;
  color:#23527c;
  width: 100%;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}